*{
    box-sizing: border-box;
}
body {
    font-family: Helvetica,;
    padding: 10PX;
    background: #f8e6aa;
}

/*logo*/
.menu-logo {
    position: absolute;
    top: 40px;
    left: 50px;
}

.menu-logo nav{
    position: absolute;
    top: 40px;
    left: 50px;
}

/* Header/Blog Title */
.header {
    padding: 10px;
    text-align: center;
    background: rgb(238, 196, 118);
    color:  #632b05;
}
.header h1 {
    font-size: 37px;
}

.header p {
    font-size: 20px;
}

/* Banner */
.banner {
    width: 90%;
    margin: 50 auto;
    margin-top: 20px;
}
.banner img {
    max-width: 90%;
    border-radius: 30px;
}

.header h3{
    font-size: 70px;
    background: wheat;
    color: rgb(28, 134, 108);
}
.prodouct .heading {
    font-size: 20px;
    color: rgb(22, 165, 30);
    text-align: center;
    margin: 40px;
}

.product .list-product .product-item{
    width: 23%;
    margin: 10px 10px;
    display: inline-block;
    
}


.product .list-product .product-item img{
    max-width: 100%;
}
/* Style the top naavigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(240, 13, 240) ;
}

/* Định dạng link điều hướng */
.topnav a {
    float: left;
    display: block;
    color: rgb(74, 12, 155);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@media screen and (max-width: 130px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 20px;
    }
    .topnav input[type=text] {
      border: 10px solid #ccc;  
    }
  }

/* Thay đổi màu liên kết khi chuột qua */
.topnav a:hover {
    background-color: #e2085c;
    color: white;
}

/* Tạo haii cột ko bằng nhau, float cạch nhau */
/* Cột trái */
.column.side {
    float: right;
    width: 25%;
    text-align: left;
}

/* Cột phải */
.column {
    float:center;
    width: 75%;
    background-color: #ffffff;
    padding-right: 30px;
    text-align: center;
}

/* Clear float khác sau các cột */
.row {
    content: "";
    display: table;
    clear: both;
  }

/* Hình ảnh bài viết */
.images {
    width: 100%;
    height: 100px;
    
}

/* Thêm định dạng thẻ cho bài viết */
.card-news {
    width: 30%;
    background-color: white;
    padding: 20px;
    margin: 20px;
    float: left;
}


/* Hình ảnh bài viết 1*/
.images {
    width: 80%;
    height: 80px;
    opacity: 1;
}
    
img:hover {
    opacity: 0.5;
}



/* Định dạng thẻ nội dung 25% */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

/* Mã giảm giá */
.new-list {
    width: 22%;
    margin: 20px 40px;
    display: inline-block;
}
.new-list img{
    max-width: 100%;
    border-radius: 10px;
}

/* Footer */
.footer {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    background: rgb(238, 196, 118);
    margin-top: 0px;
}